* {
    margin: 0;
}

.bloc {
    position: relative;
    height: 65vh;
    width: 100%;
    overflow: hidden;
}


.bloc video {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    z-index: -100;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    font-size:6em;
    margin-top: 120px;
    color: black;
    text-shadow: 5px 2px 4px white;

}

#premiertrait{
    height: 2px;
    width: 2px;
    margin: -3px auto;
    box-shadow: 1px 3px 4px black;
}

h3{
    text-align: center;
    color: rgb(164,184,252);
    font-size: 3em;
    text-shadow: 1px 4px 2px black;
    /*
        vérifie et change les couleurs si besoin
    */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2px 0;
    width: 70%;
    background-color: #0000008a;
    left: 15%;
    position: fixed;
    border-radius: 2em;
    border-color: black;
    backdrop-filter: saturate(180%) blur(20px);
}

nav .logo {
    width: 120px;
    cursor: pointer;
    margin: 30px;
} 

nav ul {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-right: 40px;
    text-align: right;
    list-style-type: none;
 }

ul li {
    margin-right: 10px;
}

ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.container-flex{
    display: flex;
    margin-left: 2%;
}

.flex-column{
    flex-direction: column;
}

.item{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.img2{
    text-align: right;
}
