body{
  font-family: 'Oswald', sans-serif;;
}

.titrefrise {
  text-align: center;
  align-items: center;
  left: 30%;
  color: white;
  width: 40%;
  background-color: #2f363e;
  position: absolute;
  border-radius: 2em;
  border-color: black;

}
.plusarticle a {
  left: 39%;
  color: white;
  width: 20%;
  height: 12%;
  background-color: #eaa023;
  position: absolute;
  border-radius: 2em;
  text-decoration: none;
  font-size: 8px;
  padding-top: 1.4%;
  text-align: center;


}

.plusarticle a:hover {
  color: #ffffff;
}


/*********Menu********/
.bloc {
  position: relative;
  height: 25vh;
  width: 100%;
  overflow: hidden;
  background-color: #D8D5DB
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2px 0;
  width: 70%;
  background-color: #0000008a;
  left: 15%;
  position: fixed;
  border-radius: 2em;
  border-color: black;
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 10;
}

nav .logo {
  width: 120px;
  cursor: pointer;
  margin: 30px;
} 

nav ul {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  padding-right: 40px;
  text-align: right;
  list-style-type: none;
}

ul li {
  margin-right: 10px;
}

ul li a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

ul li a:hover {
  color: aqua;
}







/********Frise 1********/



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.timeline-section{
  
	min-height: 100vh;
	padding: 100px 15px;
  background-color: #D8D5Db;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}
.timeline-item{
  
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #eaa023;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	color: #eaa023;
	margin:6px 0 15px;
}
.timeline-content{
  text-align: center;
    background-color: #2f363e;
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}
details{
  color: #FFF;
}

  

/********Frise 2********/



.timeline2 {
  white-space: nowrap;
  overflow-x: hidden;
  background-color: #D8D5Db;
  padding-left: 20%;
  text-align: center;
  
}
 
.timeline2 ol {
  font-size: 0;
  width: 100px;
  padding: 250px 0;
  transition: all 1s;
  align-items: center;
  left: 30%;
}
 
.timeline2 ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 2px;
  background: #000;
}
 
.timeline2 ol li:last-child {
  width: 280px;
}
 
.timeline2 ol li:not(:first-child) {
  margin-left: 14px;
}
 
.timeline2 ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: white;
}
.timeline2 ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: #eaa023;
}
 
.timeline2 ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline2 ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}
 
.timeline2 ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: #eaa023 transparent transparent transparent;
}
.timeline2 ol li:nth-child(even) div {
  top: calc(100% + 16px);
}
 
.timeline2 ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent #eaa023;
}




/******FOOTER******/

footer{
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #FFF;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h4{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem -2rem;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #FFF;
}

.socials a i{
  font-size: 1.1rem;
  transform: color .4 ease;
}

.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}


.contenu-texte h4{
  margin-left: 20px;
  margin-top: 2em;
  font-size: 2em;
  text-align: center;
}

.contenu-texte span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.contenu-image .image{
  margin-top: 2em;
  cursor: pointer;
  float: right;
  margin-right: 10px;
}

.defile{
  display: flex;
  animation-duration: 15s;
  animation-name: mesImages;
  animation-iteration-count: infinite;
}
hr{
  height: 20px;
  background-color: #D8D5DB;
}
#devialet{
  width: 640px;
  overflow: hidden; 
  justify-content: center;
  align-items: center;
  height: 650px;
  margin: auto;
  border: solid;
  margin-bottom: 10px;
}

@keyframes mesImages{
  0% {
      transform: translateX(0);
  }
  20% {
      transform: translateX(-640px);
  }
  40% {
      transform: translateX(-1280px);
  }
  60% {
      transform: translateX(-1920px);
  }
  80% {
      transform: translateX(-2560px);
  }
  100% {
      transform: translateX(0);
  }
}

