* {
    margin: 0;
}

.bloc {
    position: relative;
    height: 25vh;
    width: 100%;
    overflow: hidden;
}

p {
    text-align: center;
    font-size:5em;
    margin-top: 3px;
    color: black;
    text-shadow: 2px 2px 4px white;

}

h1 {
    text-align: center;
    font-size:4em;
    margin-top: 20px;
    color: black;
    text-shadow: 2px 2px 4px white;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2px 0;
    width: 70%;
    background-color: #0000008a;
    left: 15%;
    position: fixed;
    border-radius: 2em;
    border-color: black;
    backdrop-filter: saturate(180%) blur(20px);
}

nav .logo {
    width: 120px;
    cursor: pointer;
    margin: 30px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-right: 40px;
    text-align: right;
    list-style-type: none;
 }

ul li {
    margin-right: 10px;
}

ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.image2 {
    display: inline-block;
    width:400px;
    height: 400px;
    border: 1px solid grey;
}
.flexible {
    display: flex;
    align-items: center;
    margin: 1em;
}
.flexible div {padding: 1em}

.texte {
    font-size: 40px;
}
