* {
    margin: 0;
}
.flexible{
    background-color: black;
}

.bloc {
    position: relative;
    height: 25vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(white, black);
}

.big {
    text-align: center;
    font-size:8rem;
    margin-top: 20px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2px 0;
    width: 70%;
    background-color: #0000008a;
    left: 15%;
    position: fixed;
    border-radius: 2em;
    border-color: black;
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 10;
}

nav .logo {
    width: 120px;
    cursor: pointer;
    margin: 30px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-right: 40px;
    text-align: right;
    list-style-type: none;
 }

ul li {
    margin-right: 10px;
}

ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.image2 {
    display: inline-block;
    width:700px;
    height: 700px;background-color: black;
    border: 1px solid grey;
}
.flexible {
    display: flex;
    align-items: center;
    margin: 1em;
}
.flexible div {padding: 1em}

.texte {
    font-size: 40px;
}
footer{
    background: #111;
    height: auto;
    width: 100vw;
    font-family: 'Oswald', sans-serif;
    padding-top: 40px;
    color: #FFF;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h4{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem -2rem;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #FFF;
}

.socials a i{
    font-size: 1.1rem;
    transform: color .4 ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

}
.carousel-item{
  width:700px;
  height: 700px;
  z-index: -10;
}

.texte{
    color: white;
}

.div{
  width:400px; height:200px;
  background:url('http://lorempixel.com/400/200/');
  filter:blur(5px)
}
div:hover{
  filter:blur(0px)
}

.spoiler_flou {
filter: blur(0px);
transition-property: -webkit-filter;
transition-duration: .6s;
width:400px;
height: 400px;
}

.spoiler_flou:hover, .spoiler_flou:focus {
filter: opacity(0.2);

}

.contenant {
  position: relative;
  text-align: center;
  color: red;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 400px;
  z-index: -1;
}
